.footerpage{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 0px 10px 0px 10px;
}

.footerpage::after{
    clear: both;
}

.copyrt{
    float: left;
}

.vers{
    float: right;
}